.jen{
  background-image: url(./images/dog.jpg); width: 10%; display: block; margin-left: auto; margin-right: auto; filter: blur(5px);

}



.jumbotron{
  text-align: center;
  background-color: #f5f5f5;
}

.bottom-text{
  font-size: 1.8em;
  color: dimgray;
  font-family: 'Lato', sans-serif;
}

.bloc{
  font-size: 5.5em;
  font-family: 'Lato', sans-serif;
}

.jen{
  background-image: url(./images/dog.jpg); width: 100%;  filter: blur(5px);

}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url('https://fonts.googleapis.com/css?family=Lato');
